## RAS Data Exploration and Cleaning

In [89]:
import pandas as pd
pd.set_option('display.max_columns', None)

RASData = pd.read_csv("/Users/alexpugh/UConn 2024 Spring/Football/data/RASData.csv")

In [90]:
RASData.replace({"NULL": pd.NA, "PLACEHOLDER": pd.NA, "XX": pd.NA}, inplace=True)

In [91]:
# Drop columns with only NaN values
RASData.dropna(axis=1, how='all', inplace=True)
# Drop the first row
RASData = RASData.drop(0)
# Drop rows with at least 10 NaN values
RASData = RASData.dropna(thresh=RASData.shape[1] - 12 + 1)

In [92]:
# Drop all players from 2024 NFL Combine due to absence of testing numbers
RASData = RASData[RASData['Year'] != '2024']
RASData

,ID,Player Name,Position,College,Year,Round,Pick,Team,Ht,Wt,40,20,10,Bench,Vert,Broad,Shuttle,Cone,RAS
1,1,Adrian White,SS,Florida,1987,2.0,55.0,Giants,5114,198,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN,NaN
2,2,Al Smith,LB,Utah State,1987,6.0,147.0,Titans,6002,228,4.66,2.64,1.61,24.0,26.0,903.0,4.50,NaN,4.55
3,3,Albert Bell,WR,Alabama,1987,NaN,NaN,NaN,5106,174,4.63,2.69,1.61,4.0,29.5,906.0,4.50,NaN,0.49
4,4,Albert Reese,TE,Southern Methodist,1987,NaN,NaN,NaN,6032,254,4.99,2.88,1.72,NaN,28.5,811.0,4.42,NaN,1.54
5,5,Alex Gordon,LB,Cincinnati,1987,2.0,42.0,Jets,6046,239,4.85,2.80,1.68,13.0,29.0,907.0,4.62,NaN,2.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24899,24900,Michael Crawford,CB,Hampton,2023,NaN,NaN,NaN,5115,185,4.61,2.65,1.71,16.0,32.5,906.0,4.60,6.54,2.80
24900,24901,Cole Coleman,CB,Elon,2023,NaN,NaN,NaN,5091,188,4.44,2.56,1.57,13.0,39.0,1006.0,4.44,7.08,6.44
24901,24902,Devontae Dean,RB,Arkansas Tech,2023,NaN,NaN,NaN,5102,211,4.62,2.56,1.59,22.0,33.0,1002.0,4.31,7.03,7.78
24904,24905,Kaylan Wiggins,QB,Southeastern Florida,2023,NaN,NaN,NaN,6014,204,4.81,2.75,1.83,NaN,31.0,1002.0,4.64,7.53,3.19
24906,24907,Trevor Reid,OT,Louisville,2023,NaN,NaN,NaN,6041,311,5.01,2.81,1.77,25.0,38.0,1004.0,4.58,7.34,9.61

In [93]:
RASData.describe

<bound method NDFrame.describe of           ID       Player Name Position               College  Year  Round  \
1          1      Adrian White       SS               Florida  1987    2.0
2          2          Al Smith       LB            Utah State  1987    6.0
3          3       Albert Bell       WR               Alabama  1987    NaN
4          4      Albert Reese       TE    Southern Methodist  1987    NaN
5          5       Alex Gordon       LB            Cincinnati  1987    2.0
...      ...               ...      ...                   ...   ...    ...
24899  24900  Michael Crawford       CB               Hampton  2023    NaN
24900  24901      Cole Coleman       CB                  Elon  2023    NaN
24901  24902     Devontae Dean       RB         Arkansas Tech  2023    NaN
24904  24905    Kaylan Wiggins       QB  Southeastern Florida  2023    NaN
24906  24907       Trevor Reid       OT            Louisville  2023    NaN

        Pick    Team    Ht   Wt    40    20    10  Bench  Vert   Broad  \
1       55.0  Giants  5114  198   NaN   NaN   NaN   17.0   NaN     NaN
2      147.0  Titans  6002  228  4.66  2.64  1.61   24.0  26.0   903.0
3        NaN     NaN  5106  174  4.63  2.69  1.61    4.0  29.5   906.0
4        NaN     NaN  6032  254  4.99  2.88  1.72    NaN  28.5   811.0
5       42.0    Jets  6046  239  4.85  2.80  1.68   13.0  29.0   907.0
...      ...     ...   ...  ...   ...   ...   ...    ...   ...     ...
24899    NaN     NaN  5115  185  4.61  2.65  1.71   16.0  32.5   906.0
24900    NaN     NaN  5091  188  4.44  2.56  1.57   13.0  39.0  1006.0
24901    NaN     NaN  5102  211  4.62  2.56  1.59   22.0  33.0  1002.0
24904    NaN     NaN  6014  204  4.81  2.75  1.83    NaN  31.0  1002.0
24906    NaN     NaN  6041  311  5.01  2.81  1.77   25.0  38.0  1004.0

       Shuttle  Cone   RAS
1          NaN   NaN   NaN
2         4.50   NaN  4.55
3         4.50   NaN  0.49
4         4.42   NaN  1.54
5         4.62   NaN  2.65
...        ...   ...   ...
24899     4.60  6.54  2.80
24900     4.44  7.08  6.44
24901     4.31  7.03  7.78
24904     4.64  7.53  3.19
24906     4.58  7.34  9.61

[24040 rows x 19 columns]>